.list_wrapper {
  background: rgb(249, 250, 255);
  padding: 10px;
}

.list_item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}

.list_titme {
  font-size: 20px;
  font-weight: bold;
}

.list_content {
  font-size: 16px;
}
